body {
    background-color: #5f6f7e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background: #eff2f3;
    color: #101b27;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0a2744;
    text-align: center;
    margin-bottom: 20px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #e2d1d1;
}

form input[type="submit"], .btn {
    background-color: #3a5779;
    color: rgb(237, 239, 247);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

form input[type="submit"]:hover, .btn:hover {
    background-color: #7aade4;
}

.message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: rgb(8, 63, 8);
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: rgb(247, 244, 244);
    padding: 10px;
}

