<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Welcome, {{ username }}!</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="/check_availability">Check Room Availability</a></li>
        <li class="list-group-item"><a href="/register_room">Register Room</a></li>
        <li class="list-group-item"><a href="/make_reservation">Make Reservation</a></li>
        <li class="list-group-item"><a href="/generate_bill">Generate Bill</a></li>
        <li class="list-group-item"><a href="/update_status">Update Reservation Status</a></li>
    </ul>
    <a href="/logout" class="btn btn-danger mt-3">Logout</a>
    <a href="/" class="btn btn-secondary mt-3">Go Home</a>
</div>
<div class="footer">
    Developed by Khushal Singh. © All rights reserved.
</div>

</body>
</html>
